
.DS_Store
.RData
.Rhistory
google_region/2020_AE_Region_Mobility_Report.csv
google_region/2020_AG_Region_Mobility_Report.csv
google_region/2020_AF_Region_Mobility_Report.csv
google_region/2020_AO_Region_Mobility_Report.csv
google_region/2020_AR_Region_Mobility_Report.csv
google_region/2020_AT_Region_Mobility_Report.csv
google_region/2020_AU_Region_Mobility_Report.csv
google_region/2020_AW_Region_Mobility_Report.csv
google_region/2020_BA_Region_Mobility_Report.csv
google_region/2020_BB_Region_Mobility_Report.csv
google_region/2020_BD_Region_Mobility_Report.csv
google_region/2020_BE_Region_Mobility_Report.csv
google_region/2020_BF_Region_Mobility_Report.csv
google_region/2020_BG_Region_Mobility_Report.csv
google_region/2020_BH_Region_Mobility_Report.csv
google_region/2020_BJ_Region_Mobility_Report.csv
google_region/2020_BO_Region_Mobility_Report.csv
google_region/2020_BR_Region_Mobility_Report.csv
google_region/2020_BS_Region_Mobility_Report.csv
google_region/2020_BW_Region_Mobility_Report.csv
google_region/2020_BY_Region_Mobility_Report.csv
google_region/2020_BZ_Region_Mobility_Report.csv
google_region/2020_CA_Region_Mobility_Report.csv
google_region/2020_CH_Region_Mobility_Report.csv
google_region/2020_CI_Region_Mobility_Report.csv
google_region/2020_CL_Region_Mobility_Report.csv
google_region/2020_CM_Region_Mobility_Report.csv
google_region/2020_CO_Region_Mobility_Report.csv
google_region/2020_CR_Region_Mobility_Report.csv
google_region/2020_CV_Region_Mobility_Report.csv
google_region/2020_CZ_Region_Mobility_Report.csv
google_region/2020_DE_Region_Mobility_Report.csv
google_region/2020_DK_Region_Mobility_Report.csv
google_region/2020_DO_Region_Mobility_Report.csv
google_region/2020_EC_Region_Mobility_Report.csv
google_region/2020_EE_Region_Mobility_Report.csv
google_region/2020_EG_Region_Mobility_Report.csv
google_region/2020_ES_Region_Mobility_Report.csv
google_region/2020_FI_Region_Mobility_Report.csv
google_region/2020_FJ_Region_Mobility_Report.csv
google_region/2020_FR_Region_Mobility_Report.csv
google_region/2020_GA_Region_Mobility_Report.csv
google_region/2020_GB_Region_Mobility_Report.csv
google_region/2020_GE_Region_Mobility_Report.csv
google_region/2020_GH_Region_Mobility_Report.csv
google_region/2020_GR_Region_Mobility_Report.csv
google_region/2020_GT_Region_Mobility_Report.csv
google_region/2020_GW_Region_Mobility_Report.csv
google_region/2020_HK_Region_Mobility_Report.csv
google_region/2020_HN_Region_Mobility_Report.csv
google_region/2020_HR_Region_Mobility_Report.csv
google_region/2020_HT_Region_Mobility_Report.csv
google_region/2020_HU_Region_Mobility_Report.csv
google_region/2020_ID_Region_Mobility_Report.csv
google_region/2020_IE_Region_Mobility_Report.csv
google_region/2020_IL_Region_Mobility_Report.csv
google_region/2020_IN_Region_Mobility_Report.csv
google_region/2020_IQ_Region_Mobility_Report.csv
google_region/2020_IT_Region_Mobility_Report.csv
google_region/2020_JM_Region_Mobility_Report.csv
google_region/2020_JO_Region_Mobility_Report.csv
google_region/2020_JP_Region_Mobility_Report.csv
google_region/2020_KE_Region_Mobility_Report.csv
google_region/2020_KG_Region_Mobility_Report.csv
google_region/2020_KH_Region_Mobility_Report.csv
google_region/2020_KR_Region_Mobility_Report.csv
google_region/2020_KW_Region_Mobility_Report.csv
google_region/2020_KZ_Region_Mobility_Report.csv
google_region/2020_LA_Region_Mobility_Report.csv
google_region/2020_LB_Region_Mobility_Report.csv
google_region/2020_LI_Region_Mobility_Report.csv
google_region/2020_LK_Region_Mobility_Report.csv
google_region/2020_LT_Region_Mobility_Report.csv
google_region/2020_LU_Region_Mobility_Report.csv
google_region/2020_LV_Region_Mobility_Report.csv
google_region/2020_LY_Region_Mobility_Report.csv
google_region/2020_MA_Region_Mobility_Report.csv
google_region/2020_MD_Region_Mobility_Report.csv
google_region/2020_MK_Region_Mobility_Report.csv
google_region/2020_ML_Region_Mobility_Report.csv
google_region/2020_MM_Region_Mobility_Report.csv
google_region/2020_MN_Region_Mobility_Report.csv
google_region/2020_MT_Region_Mobility_Report.csv
google_region/2020_MU_Region_Mobility_Report.csv
google_region/2020_MX_Region_Mobility_Report.csv
google_region/2020_MY_Region_Mobility_Report.csv
google_region/2020_MZ_Region_Mobility_Report.csv
google_region/2020_NA_Region_Mobility_Report.csv
google_region/2020_NE_Region_Mobility_Report.csv
google_region/2020_NG_Region_Mobility_Report.csv
google_region/2020_NI_Region_Mobility_Report.csv
google_region/2020_NL_Region_Mobility_Report.csv
google_region/2020_NO_Region_Mobility_Report.csv
google_region/2020_NP_Region_Mobility_Report.csv
google_region/2020_NZ_Region_Mobility_Report.csv
google_region/2020_OM_Region_Mobility_Report.csv
google_region/2020_PA_Region_Mobility_Report.csv
google_region/2020_PE_Region_Mobility_Report.csv
google_region/2020_PG_Region_Mobility_Report.csv
google_region/2020_PH_Region_Mobility_Report.csv
google_region/2020_PK_Region_Mobility_Report.csv
google_region/2020_PL_Region_Mobility_Report.csv
google_region/2020_PR_Region_Mobility_Report.csv
google_region/2020_PT_Region_Mobility_Report.csv
google_region/2020_PY_Region_Mobility_Report.csv
google_region/2020_QA_Region_Mobility_Report.csv
google_region/2020_RE_Region_Mobility_Report.csv
google_region/2020_RO_Region_Mobility_Report.csv
google_region/2020_RS_Region_Mobility_Report.csv
google_region/2020_RU_Region_Mobility_Report.csv
google_region/2020_RW_Region_Mobility_Report.csv
google_region/2020_SA_Region_Mobility_Report.csv
google_region/2020_SE_Region_Mobility_Report.csv
google_region/2020_SG_Region_Mobility_Report.csv
google_region/2020_SI_Region_Mobility_Report.csv
google_region/2020_SK_Region_Mobility_Report.csv
google_region/2020_SN_Region_Mobility_Report.csv
google_region/2020_SV_Region_Mobility_Report.csv
google_region/2020_TG_Region_Mobility_Report.csv
google_region/2020_TH_Region_Mobility_Report.csv
google_region/2020_TJ_Region_Mobility_Report.csv
google_region/2020_TR_Region_Mobility_Report.csv
google_region/2020_TT_Region_Mobility_Report.csv
google_region/2020_TW_Region_Mobility_Report.csv
google_region/2020_TZ_Region_Mobility_Report.csv
google_region/2020_UA_Region_Mobility_Report.csv
google_region/2020_UG_Region_Mobility_Report.csv
google_region/2020_US_Region_Mobility_Report.csv
google_region/2020_UY_Region_Mobility_Report.csv
google_region/2020_VE_Region_Mobility_Report.csv
google_region/2020_VN_Region_Mobility_Report.csv
google_region/2020_YE_Region_Mobility_Report.csv
google_region/2020_ZA_Region_Mobility_Report.csv
google_region/2020_ZM_Region_Mobility_Report.csv
google_region/2020_ZW_Region_Mobility_Report.csv
google_region/Region_Mobility_Report_CSVs.zip
.Rhistory
.RData
